.link {
  font-size: 5vh;
}

.application-title {
  font-size: 20vh;
}

.application-version {
  font-size: 10vh;
}

.button-back-title {
  font-size: 5vh;
  padding: 1vh 2vh 1vh 2vh;
}

.button-top {
  font-size: 7vh;
  padding: 2vh 3vh 2vh 3vh;
}

.button-game {
  background-color: orange;
}

.button-simulation {
  background-color: greenyellow;
}

.button-share {
  background-color: #00aced;
}